.card-task {
  width: 100%;
  display: block;
  position: relative;
  & .dragging {
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px dashed var(--gray-bg);
  }
  cursor: grab;
  &:active {
    cursor: grabbing;
  }

  &__item {
    padding: 5px;
    animation-name: card-animation;
    animation-duration: 500ms;
    animation-timing-function: linear;
  }

  &__item {
    background-color: var(--bg-color);
    border-radius: var(--small-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    padding: 15px 13px 19px;
  }

  &__group {
    width: 100%;
    height: 20px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__theme {
    width: auto;
    padding: 5px 14px;
    border-radius: 18px;
    font-size: var(--small-size);
    font-weight: 600;
    line-height: var(--small-size);
  }

  &__btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;

    & div {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--gray-bg);
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 35px;
    color: var(--primary-color);
  }

  &__date-info {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__date {
    color: var(--gray-bg);
    font-size: var(--small-size);
  }
}
