.user-menu {
  &__info {
    color: var(--bg-primary-color);
    &:hover {
      color: var(--hover-bg-01);
    }
  }

  &__popup {
    position: absolute;
    top: 61px;
    right: 0;
    min-width: 213px;
    border-radius: 10px;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    background: var(--bg-color);
    box-shadow: 0px 10px 39px 0px rgba(26, 56, 101, 0.21);
    padding: 34px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    &:hover::after {
      border-left-color: var(--hover-bg-01);
      border-bottom-color: var(--hover-bg-01);
    }
  }

  &__close-btn {
    width: 15px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--bg-primary-color);
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    right: 10px;
    &::after {
      content: "";
      width: 15px;
      height: 3px;
      border-radius: 5px;
      top: 0;
      left: 0;
      background-color: var(--bg-primary-color);
      position: absolute;
      transform: rotate(-90deg);
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }
}
