.baseInput {
  border: 1px solid var(--gray-bg);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: var(--gray-bg);
  background-color: transparent;
}

.baseInput:focus {
  outline: 1px solid var(--border);
}
