.baseInput {
    border: 1px solid #94a6be66;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #94a6be;
}
    
.baseInput:focus {
    outline: 1px solid #889ab266;
}
