.header {
  &__nav {
    padding: 0;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__btn-main-new {
      padding: 8px 14px;
      border-radius: 4px;
      background-color: var(--bg-primary-color);
      color: #ffffff;
      border: none;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      margin-right: 20px;
    }

    &__btn-main-new & a {
      color: #ffffff;
    }
  }
}
