.header-nav {
  position: relative;

  &__content {
    padding: 0;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-main-new {
    padding: 8px 14px;
    border-radius: 4px;
    background-color: var(--bg-primary-color);
    color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    margin-right: 20px;
  }

  &__name {
    color: var(--bg-primary-color);
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__icon {
    transition: transform 0.3s ease 0s;
    width: 8px;

    &--rotate {
      transition: transform 0.3s ease 0s;
      transform: rotate(180deg);
    }
  }
}
