:root {
  /* light theme */
  --primary-color: #000000;
  --bg-color: #ffffff;
  --bg-main: #f1f1f1;
  --border-primary: #d4dbe5;

  --bg-neutral: #eaeef6;
  --white: #ffffff;

  --bg-primary-color: #565eef;
  --bg-secondary-color: #4556db;

  --hover-bg-01: #33399b;
  --hover-color-02: #33399b;
  --hover-bg-03: #33399b;

  --orange-bg: #ffe4c2;
  --orange-text: #ff6d00;

  --green-bg: #b4fdd1;
  --green-text: #06b16e;

  --purple-bg: #e9d4ff;
  --purple-text: #9a48f1;

  --gray-bg: #94a6be;
  --gray-text: #ffffff;
  --border: #4e5566;

  // size
  --small-size: 10px;
  --main-size: 14px;
}

[data-theme="_dark"] {
  --primary-color: #ffffff;
  --bg-color: #20202c;
  --bg-main: #151419;
  --border-primary: #4e5566;

  --bg-neutral: transparent;
  --white: #ffffff;

  --bg-primary-color: #565eef;
  --bg-secondary-color: #4556db;

  --hover-bg-01: #33399b;
  --hover-color-02: #33399b;
  --hover-bg-03: #565eef;

  --orange-bg: #ff6d00;
  --orange-text: #ffe4c2;

  --green-bg: #06b16e;
  --green-text: #b4fdd1;

  --purple-bg: #9a48f1;
  --purple-text: #e9d4ff;

  --gray-bg: #94a6be;
  --gray-text: #ffffff;
  --border: #4e5566;
}
